/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'NikkyouSans';
  src: url('@/font/NikkyouSans-mLKax.ttf') format('ttf');
}
/* テキスト・背景のフワモコカラー */
.theme {
  background-color: #f9f1e4;
}
.theme-fww {
  background-color: #67b2ff;
}
.theme-mcc {
  background-color: #f7a6ca;
}
.text-fww {
  color: #2d87f7;
}
.text-mcc {
  color: #ff82c9;
}
